@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*,html {
    margin: 0px;
    padding: 0px;
    font-family: "Karla";
    /* border: 1px solid black; */
}



body {
    background: gray;
    /* height: 400vh; */
    position: relative;
}

header {
    display: flex;
    justify-content:space-between;
    background-color: rgb(212, 200, 125);
    height: 60px;
    position: fixed;
    width: 100vw;
    align-items: center;
    z-index: 1;
    border-bottom: 0.1px black solid;
    top: 0;
    
}

nav {
    margin-right: 50px;
    justify-content: space-evenly;
    height: 100%;
    width: 20vw;
}

h1 {
    margin-left: 50px;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

}

a {
    text-decoration: none;
    color: black;
}


main {
    position: absolute;
    top:60px;
}

.Home {
    height: 93vh;
    background: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 98.9vw;
}

main div h2 {
    font-size: 40px;
    margin-bottom: 20px;
    /* background-color: aquamarine; */
}

.Home div p {
    width: 800px;
    height: auto ;
    /* background-color: aquamarine; */
    font-size: 30px;
    line-height: 50px;
}

.Home > div > img {
    width: 300px;
    height: 300px;
}

.img {
    display: flex;

}

.service {
    display: flex  ;
    flex-direction: column;
    padding-inline: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(212, 200, 125);
    height: 30vh;
    justify-content: center;
}

.service > p {
    margin-top: 20px;
    margin-bottom: 10px;
}

.produk_kami{
    background-color: rgb(212, 200, 125);
    height: 55vh;
    display: flex;
    flex-direction: column;
    padding-inline: 300px;
    justify-content: center;
}

td{
    padding: 5px;
}

.produk_kami h3{
    margin-bottom: 20px;
}

.produk_kami .paragraf_produk_kami{
    margin-bottom: 10px;
}

.card_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card_container div{
    border: 1px solid black;
    width: 230px;
    box-shadow: -3px 22px 33px -8px rgba(0,0,0,0.44);
}

.card_container div img{
    width: 230px;
    height: 174px;
    margin-bottom: 5px;
}

.card_container h3{
    margin-bottom: 5px;
    text-align: center;
}

.card_container p{
    text-align: justify;
}




@media(max-width: 1200px){
    .Home{
        display: flex;
        flex-direction: column;
    }

    .Home > div > img {
        width: 150px;
        height: 150px;
    }

    main div h2 {
        font-size: 22px;
        margin-bottom: 20px;
        /* background-color: aquamarine; */
    }

    .Home div p {
        width: 470px;
        /* background-color: aquamarine; */
        font-size: 17px;
        line-height: 25px;
        text-align: justify;
    }

    .service{
        display: flex;
        flex-direction: column;
        padding-inline: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        /* background-color: aqua; */
        height: auto;
    }

    .produk_kami{
        height: auto;
        display: flex;
        flex-direction: column;
        padding-inline: 50px;
        padding-top: 50px ;
        padding-bottom: 50px;
    }

    .card_container div{
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
    }
}